{% extends 'dashboard.html' %} {% block content %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    
    <!-- jQuery UI JavaScript -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>


<div class="pagetitle">
    <h1>13th Month</h1>
    <!-- <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a >Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav> -->
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">13th Month Form</h5>

            <!-- General Form Elements -->
            <form>
              <div class="row mb-3">
               
                <div class="col-sm-9">
                  <input type="text" id="id" class="form-control" hidden  />
                </div>
              </div>


              <div class="row mb-3">
                <label for="inputText" class="col-sm-3 col-form-label"
                  > Name</label
                >
                <div class="col-sm-9">
                  <input type="text" id="name" class="form-control" />
                </div>
              </div>


              <div class="row mb-3">
                <label for="inputText" class="col-sm-3 col-form-label"
                  >Date</label
                >
                <div class="col-sm-9">
                  <input type="datetime-local" id="date" class="form-control" />
                </div>
              </div>


              <div class="row mb-3">
                <label for="inputText" class="col-sm-3 col-form-label"
                  >Company</label
                >
                <div class="col-sm-9">
                  <input type="text" id="company" class="form-control" />
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputText" class="col-sm-3 col-form-label"
                  >Employee ID</label
                >
                <div class="col-sm-9">
                  <input
                    class="form-control"
                    id="employee_id"
                   
                  ></input>
                </div>
              </div>


              <div class="row mb-3">
                <label for="inputText" class="col-sm-3 col-form-label"
                  >Last Name</label
                >
                <div class="col-sm-9">
                  <input
                    class="form-control"
                    id="last_name"
                   
                  ></input>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputText" class="col-sm-3 col-form-label"
                  >First Name</label
                >
                <div class="col-sm-9">
                  <input
                    class="form-control"
                    id="first_name"
                    
                  ></input>
                </div>
              </div>


              <div class="row mb-3">
                <label for="inputText" class="col-sm-3 col-form-label"
                  >13th Month Pay</label
                >
                <div class="col-sm-9">
                  <input
                   type="number"
                    class="form-control"
                    id="amount"
                   
                  ></input>
                </div>
              </div>

             

              <div class="text-center">
                <button
                  type="button"
                  id="btn_save_13month"
                  class="btn btn-primary"
                >
                  Add
                </button>
                <!-- <button
                  type="button"
                  id="btn_update_13thmonth"
                  class="btn btn-danger"
                  style="display: none;"
                >
                  Update
                </button> -->
              </div>
            </form>
            <!-- End General Form Elements -->
          </div>
        </div>
      </div>
     
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">13 Month Pay  List</h5>

            <!-- General Form Elements -->
            <table
              id="table_branch"
              class="table table-bordered"
              style="text-align: center"
            >
              <thead class="table-dark">
                <tr>
                  <td>#</td>
                  <td>Date</td>
                  <td>EmployeeID</td>
                  <td>Last Name</td>
                  <td>First Name</td>
                  <td>13Th Pay</td>
                 
                </tr>
              </thead>
              <tbody id="table_branch_list"></tbody>
            </table>
          </div>
        </div>



      </div>
    </div>
    </section>

  <script src="/static/payroll/13th_month.js"></script>

{% endblock %}
