{% extends 'dashboard.html' %}

{% block content %}

  <div class="pagetitle">
    <h1>EMPLOYEE LIST</h1>
  </div><!-- End Page Title -->

<!-- Employee Modal -->
<div class="modal fade" id="insert_employee_modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Add Employee</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="Company" class="form-label-small">Company</label>
                          <input type="text" class="form-control form-control-sm" id="Company">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="EmployeeID" class="form-label-small">Employee ID</label>
                          <input type="text" class="form-control form-control-sm" id="EmployeeID">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-4">
                      <div class="form-group mb-3">
                          <label for="LastName" class="form-label-small">Last Name</label>
                          <input type="text" class="form-control form-control-sm" id="LastName">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group mb-3">
                          <label for="FirstName" class="form-label-small">First Name</label>
                          <input type="text" class="form-control form-control-sm" id="FirstName">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group mb-3">
                          <label for="MiddleName" class="form-label-small">Middle Name</label>
                          <input type="text" class="form-control form-control-sm" id="MiddleName">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="Position" class="form-label-small">Position</label>
                          <input type="text" class="form-control form-control-sm" id="Position">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="Gender" class="form-label-small">Gender</label>
                          <select class="form-select form-select-sm" id="Gender">
                              <option selected>----Select Gender----</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                          </select>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="Salaryrate" class="form-label-small">Salary Rate</label>
                          <input type="number" class="form-control form-control-sm" id="Salaryrate">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="TaxCode" class="form-label-small">Tax Code</label>
                          <input type="text" class="form-control form-control-sm" id="TaxCode">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="TIN" class="form-label-small">TIN</label>
                          <input type="text" class="form-control form-control-sm" id="TIN">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="SSSN" class="form-label-small">SSS Number</label>
                          <input type="text" class="form-control form-control-sm" id="SSSN">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="PHICN" class="form-label-small">PHIC Number</label>
                          <input type="text" class="form-control form-control-sm" id="PHICN">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="HDMFN" class="form-label-small">HDMF Number</label>
                          <input type="text" class="form-control form-control-sm" id="HDMFN">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="Tax" class="form-label-small">Tax</label>
                          <input type="number" class="form-control form-control-sm" id="Tax">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="SSS" class="form-label-small">SSS</label>
                          <input type="number" class="form-control form-control-sm" id="SSS">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="PHIC" class="form-label-small">PHIC</label>
                          <input type="number" class="form-control form-control-sm" id="PHIC">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="HDMF" class="form-label-small">HDMF</label>
                          <input type="number" class="form-control form-control-sm" id="HDMF">
                      </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="SSSemp" class="form-label-small">SSS EMP</label>
                        <input type="number" class="form-control form-control-sm" id="SSSemp">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group mb-3">
                        <label for="PHICemp" class="form-label-small">PHIC EMP</label>
                        <input type="number" class="form-control form-control-sm" id="PHICemp">
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-3">
                      <label for="HDMFemp" class="form-label-small">HDMF EMP</label>
                      <input type="number" class="form-control form-control-sm" id="HDMFemp">
                  </div>
              </div>
            </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="Allowance" class="form-label-small">Allowance</label>
                          <input type="number" class="form-control form-control-sm" id="Allowance">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group mb-3">
                          <label for="Date_hired" class="form-label-small">Date Hired</label>
                          <input type="date" class="form-control form-control-sm" id="Date_hired">
                      </div>
                  </div>
                  <input type="text" class="form-control form-control-sm" id="id" hidden>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary btn-sm" id="btn_save_employee">Save changes</button>
          </div>
      </div>
  </div>
</div>

    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">Employee List</h5>
            <button type="button" class="btn btn-primary btn-sm"  id="insert_jo_btn"
                data-bs-toggle="modal" data-bs-target="#insert_employee_modal" >
                Insert Employee
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-3">
                <table id="table_employeeList" class="table table-bordered table-sm text-center">
                    <thead class="table-dark">
                        <tr>
                            <td>Company</td>
                            <td>Employee ID</td>
                            <td>Last Name</td>
                            <td>First Name</td>
                            <td>Gender</td>
                            <td>Salary Rate</td>
                            <td>Tax Code</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody id="table_employee_list"></tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/static/payroll/insert_employee.js"></script>

{% endblock %}