
{% extends 'dashboard.html' %} {% block content %}

 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script> 

 </head> 

     <style type="text/tailwindcss">
          @theme {
            --color-clifford: #da373d;
          }
    </style>




 

<div id="main" class="main">
  <div class="pagetitle">
  </div>
  <!-- End Page Title -->

  <section class="section">
        <div class="col-lg-10">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Account Receivable Aging</h5>
            <div calss"py-5 px-5">
               <button id="printPDF" class="bg-sky-500 text-white py-2 px-4 rounded">Print to PDF</button>
               <button id="exportExcel" class="bg-yellow-300 text-gray-500 py-2 px-4 rounded">
                 Excel
               </button>
            

            </div>
          <br> 
            <!-- General Form Elements -->
            <table
              id="table_sales"
              class="min-w-full table-auto border border-gray-300"
              style="text-align: center"
            >
              <thead class="bg-gray-500 text-white py-2 px-1 text-center border-x border-gray-300">
                <tr>
            
                  <th>Customer</th>
                  <th>Invoice</th>
                  <th>Category</th> 
                  <th>1 - 30 Days</th>
                  <th>31 - 60 Days</th>
                  <th>61 - 90 Days</th>
                 <th>91  Days Over</th>

               </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
  <!--    -->
  <!-- </section> -->
  <script src="/static/accounting/aging_report.js"></script> 
</div>

<!-- End #main -->

{% endblock %}
