{% extends 'dashboard.html' %} {% block content %}

 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script> 

   <!-- jQuery Core (this is required) -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  
  <!-- jQuery UI (this provides autocomplete) -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

     <style type="text/tailwindcss">
          @theme {
            --color-clifford: #da373d;
          }
    </style>
 </head> 

  <div class="pagetitle">
    <h1>Category Transaction</h1>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
           
            <!-- General Form Elements -->
            <form id="myForm">
              <div class="form-group mb-3">
                <label for="category" class="form-label-small">Category</label>
                <input
                  id="category"
                  type="text"
                  class="form-control form-control-sm"
                  value=""
                />
              </div>

              <div class="text-center pt-3 border-t">
                  <button id="btn_save_category" type="button"
                  class="btn btn-primary btn-sm">
                  Insert Category
                </button>
              </div>
            </form>
            <!-- End General Form Elements -->
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Category List</h5>

             <div class="py-2 w-1/2 ml-auto">
                <div class="form-group">
                    <input
                      id="search_category"
                      type="text"
                      class="form-control form-control-sm"
                      value=""
                      placeholder="Search"
                    />
                </div>
              </div>


            <!-- General Form Elements -->
            <table
              id="table_sales"
              class="table table-bordered table-sm text-center"
            >
              <thead class="table-dark">
                <tr>
                  <td>Category</td>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="/static/accounting/category.js"></script> 

{% endblock %}
