{% extends 'dashboard.html' %}

{% block css %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<style>
.ui-autocomplete {
    z-index: 99999 !important;
    background: yellow !important;
    background-color: yellow !important;
}
.ui-autocomplete .ui-menu-item {
    background: yellow !important;
    background-color: yellow !important;
}
</style>
{% endblock %}

{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
</head>

  <div class="pagetitle">
    <h1>Payment Transaction</h1>
  </div>
  
  <section class="section">
    <div class="row">
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Payment Form</h5>
            <form id="myForm">
              <div class="form-group mb-3">
                <label for="trans_date" class="form-label-small">Date</label>
                <input id="trans_date" type="date" class="form-control form-control-sm" value=""/>
              </div>

              <div class="form-group mb-3">
                <label for="customer" class="form-label-small">Customer</label>
                <input id="customer" type="text" class="form-control form-control-sm" value=""/>
              </div>

              <div class="form-group mb-3">
                <label for="customer_id" class="form-label-small">Customer ID</label>
                <input id="customer_id" type="text" class="form-control form-control-sm" value=""/>
              </div>

              <div class="form-group mb-3">
                <label for="balance" class="form-label-small">Balance</label>
                <input id="balance" type="text" class="form-control form-control-sm" value=""/>
              </div>

              <div class="form-group mb-3">
                <label for="invoice_no" class="form-label-small">Invocie No.</label>
                <input id="invoice_no" type="text" class="form-control form-control-sm" value=""/>
              </div>

              <div class="form-group mb-3">
                  <label for="payment_method" class="form-label-small">Payment Method</label>
                    <select
                        id="payment_method"
                        class="form-select form-select-sm"
                        >
                        <option value="Cash">Cash</option>
                        <option value="Check">Check</option>
                        <option value="BANKREM">BANKREM</option>
                    </select>
                </div>

              <div class="form-group mb-3">
                <label for="collection_receipt" class="form-label-small">Collection Receipt</label>
                <input id="collection_receipt" type="text" class="form-control form-control-sm" value=""/>
              </div>

              <div class="form-group mb-3">
                <label for="cash_amount" class="form-label-small">Payment Received</label>
                <input id="cash_amount" type="number" class="form-control form-control-sm" value=""/>
              </div>

               <div class="form-group mb-3">
                <label for="amount_2307" class="form-label-small">2307 Amount</label>
                <input id="amount_2307" type="number" class="form-control form-control-sm" value=""/>
              </div>

               <div class="form-group mb-3">
                <label for="remarks" class="form-label-small">Remarks</label>
                <input id="remarks" type="text" class="form-control form-control-sm" value=""/>
              </div>

              <div class="text-center pt-3 border-t">
                <button id="btn_save_payment" type="button" class="btn btn-primary btn-sm">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    
     <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="text-warning fw-bold">SUMMARY:</h5>
            <h6 id="summary-balance" style="font-size:20px;"></h6>
          </div>
      </div>
    </div>
  </section>
  
  <script src="/static/accounting/payment.js"></script>


{% endblock %}

