{% extends 'dashboard.html' %} {% block content %}

<!-- jQuery (Make sure it's loaded before jQuery UI) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- jQuery UI CSS (for styling the autocomplete dropdown) -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

<!-- jQuery UI JavaScript -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>





<div id="main" class="main">
  <div class="pagetitle">
    <h1>Sales Transaction</h1>
    <!-- <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a >Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav> -->
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
           
            <!-- General Form Elements -->
            <form id="myForm">

           <div class="row mb-4">
                <label for="inputText" class="col-sm-5 col-form-label"
                  >Date</label
                >
                <div class="col-sm-7">
                  <input
                    id="trans_date"
                    type="date"
                    class="form-control" 
                    value=""
                  />
                </div>
              </div>


            <div class="row mb-4">
                <label for="inputText" class="col-sm-5 col-form-label"
                  >Customer</label
                >
                <div class="col-sm-7">
                  <input
                    id="customer"
                    type="text"
                    class="form-control" 
                    value=""
                  />
                </div>
              </div>


              <div class="row mb-4">
                <label for="inputText" class="col-sm-5 col-form-label"
                  >Customer ID</label
                >
                <div class="col-sm-7">
                  <input
                    id="customer_id"
                    type="text"
                    class="form-control"
                    value=""
                  />
                </div>
              </div>

              <div class="row mb-4">
                <label for="inputText" class="col-sm-5 col-form-label"
                  >Invoice No.</label
                >
                <div class="col-sm-7">
                  <input
                    id="invoice_no"
                    type="text"
                    class="form-control"
                    value=""
                  />
                </div>
              </div>

              <div class="row mb-4">
                <label class="col-sm-5 col-form-label">Terms</label>
                <div class="col-sm-7">
                  <select
                    id="terms"
                    class="form-select"
                    aria-label="terms"
                  >
                    <option value="COD">COD</option>
                    <option value="15 days">15 days</option>
                    <option value="30 days">30 days</option>
                    <option value="60 days">60 days</option>
                    <option value="90 days">90 days</option>
                    <option value="120 days">120 days</option>
                    <option value="180 days">180 days</option>

                  </select>
                </div>
              </div>


               <div class="row mb-4">
                <label for="inputText" class="col-sm-5 col-form-label"
                  >Due Date</label
                >
                <div class="col-sm-7">
                  <input
                    id="due_date"
                    type="text"
                    class="form-control"
                    value=""
                  />
                </div>
              </div>


          

              

              <div class="row mb-4">
                <label class="col-sm-5 col-form-label">Tax Type</label>
                <div class="col-sm-7">
                  <select
                    id="tax_type"
                    class="form-select"
                    aria-label="Vatable"
                  >
                    <option value="Vatable ">Vatable</option>
                    <option value="Non-Vatable ">Non-Vatable</option>
                  </select>
                </div>
              </div>
            
             <div class="row mb-4">
                <label for="inputText" class="col-sm-5 col-form-label"
                  >Amount</label
                >
                <div class="col-sm-7">
                  <input
                    id="amount"
                    type="number"
                    class="form-control"
                    value=""
                  />
                </div>
              </div>


              <div class="text-center">
                <button id="btn_save_branch" type="button" class="btn btn-primary">Add</button>
                
              </div>
            </form>
            <!-- End General Form Elements -->
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sales Transaction List</h5>

            <!-- General Form Elements -->
            <table
              id="table_sales"
              class="table table-bordered"
              style="text-align: center"
            >
              <thead class="table-dark">
                <tr>
                  <td>Trans ID</td>
                  <td>Date</>
                  <td>Customer Name</>
                  <td>Customer ID</>
                  <td>Invoice</>
                  <td>Terms</>
                  <td>Due Date</>
                  <td>Tax Type</td>
                  <td>Amount</td>
                </tr>
              </thead>
              <tbody id="table_sales_list"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="/static/accounting/sales.js"></script> 
</div>

<!-- End #main -->

{% endblock %}
